@page
@model Biletciniz.Pages.Admin.Etkinlik.CreateModel

@{
    ViewData["Title"] = "Create";
}
@Html.AntiForgeryToken()

<h1>Create</h1>

<h4>Etkinlik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Etkinlik.EtkinlikAdi" class="control-label"></label>
                <input asp-for="Etkinlik.EtkinlikAdi" class="form-control" />
                <span asp-validation-for="Etkinlik.EtkinlikAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etkinlik.Tarih" class="control-label"></label>
                <input asp-for="Etkinlik.Tarih" class="form-control" />
                <span asp-validation-for="Etkinlik.Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etkinlik.Afis" class="control-label"></label>
                <input type="file" asp-for="Etkinlik.Afis" class="form-control" />
                <span asp-validation-for="Etkinlik.Afis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etkinlik.Süre" class="control-label"></label>
                <input asp-for="Etkinlik.Süre" class="form-control" />
                <span asp-validation-for="Etkinlik.Süre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etkinlik.Kategori.KategoriAdi" class="control-label"></label>
                <select id="Kategoriler" asp-for="Etkinlik.KategoriID" class="form-control" asp-items="ViewBag.KategoriID">
                    <option value="sec" disabled="disabled" selected>Seciniz..</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Etkinlik.Tur.TurAdi" class="control-label"></label>
                <select id="Tur" class="form-control"  asp-for="Etkinlik.TurID" >
                    <option value="sec" disabled="disabled" selected>Kategori Seciniz..</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Etkinlik.Mekan.MekanAdi" class="control-label"></label>
                <select asp-for="Etkinlik.MekanID" class="form-control" asp-items="ViewBag.MekanID"></select>
            </div>
            <div class="form-group">
                <input id="Ekle" type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



@section scripts {


    <script>


        $(document).ready(function () {

            $("#Kategoriler").on("change", function () {

                var kategori = $("#Kategoriler").val().trim();


                var kategoriID = {
                    kkategoriID: kategori
                }


                $.ajax({
                    type: "GET",
                    url: "@Url.Page("/Admin/Etkinlik/Create","Turler")",
                    contentType: "application/json; charset=utf-8",
                    async:true,
                    dataType: "json",
                    data: kategoriID,
                    success: function (model) {
                        console.log(1);
                        console.log(model);
                        $("#Tur").empty();
                      for (let i = 0; i < model.length; i++) {
                            $("#Tur").append(`<option Value="${model[i].id}">${model[i].turAdi}</option>`);

                      }


                    },
                    error: function () {
                        alert("olmadı :(");
                    },
                  });

            });




        });
    </script>
}
