@page
@model Biletciniz.Pages.Admin.Bilet.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bilet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bilet.Etkinlik.EtkinlikAdi" class="control-label"></label>
                <select asp-for="Bilet.EtkinlikID" class ="form-control" asp-items="ViewBag.EtkinlikID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bilet.KoltukNo" class="control-label"></label>
                <input asp-for="Bilet.KoltukNo" class="form-control" />
                <span asp-validation-for="Bilet.KoltukNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bilet.SatisTarihi" class="control-label"></label>
                <input asp-for="Bilet.SatisTarihi" class="form-control" />
                <span asp-validation-for="Bilet.SatisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bilet.Fiyat" class="control-label"></label>
                <input asp-for="Bilet.Fiyat" class="form-control" />
                <span asp-validation-for="Bilet.Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
