@page
@model Biletciniz.Pages.Kullanıcı.Muzik.PopModel
@{
    ViewData["Title"] = "Pop";
}

<!-- Feature post -->
<section class="bg0">
    <div class="container">
        <div class="row m-rl--1">

            <div class="col-12 p-rl-1 p-b-2">
                <div class="bg-img1 size-a-3 how1 pos-relative" style="background-image:url(/images/img/Buray.jpg)">
                    <a href="#" class="dis-block how1-child1 trans-03"></a>

                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                        <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                            Buray
                        </a>


                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-rl-1 p-b-2">
                <div class="bg-img1 size-a-14 how1 pos-relative" style="background-image:url(/images/img/DemetAkalın.jpg)">
                    <a href="#" class="dis-block how1-child1 trans-03"></a>

                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                        <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                            Demet Akalın
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-rl-1 p-b-2">
                <div class="bg-img1 size-a-14 how1 pos-relative" style="background-image:url(/images/img/HandeYener.png)">
                    <a href="#" class="dis-block how1-child1 trans-03"></a>

                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                        <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                            Hande Yener
                        </a>


                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-rl-1 p-b-2">
                <div class="bg-img1 size-a-14 how1 pos-relative" style="background-image:url(/images/img/TarkanPop.jpg)">
                    <a href="#" class="dis-block how1-child1 trans-03"></a>

                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                        <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                            Tarkan
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-rl-1 p-b-2">
                <div class="bg-img1 size-a-14 how1 pos-relative" style="background-image:url(/images/img/İremDerici.jpg);">
                    <a href="#" class="dis-block how1-child1 trans-03"></a>

                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                        <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                            İrem Derici
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section style="margin-top:70px">
    <table id="table_id" class="display table table-bordered">
        <thead>
            <tr>
                <th>Afiş</th>
                <th>Etkinlik Adı</th>
                <th>Tarih</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var etkinlik in Model.BiletAl)
            {
                <tr>
                    <td><img src="@etkinlik.Afis" alt="..." class="img-thumbnail" style=" width:100px;height:100px; "></td>
                    <td>@etkinlik.EtkinlikAdi</td>
                    <td>@etkinlik.BaslangicTarihi</td>
                    <td><a class="btn btn-success" href="#">Satın Al</a></td>
                </tr>



            }


        </tbody>
    </table>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>

}